.table th {
    background-color: #27c033 !important;
    color: white !important;
    font-weight: bold;
}
.table td {
    background-color: #ffffff !important;
    font-weight: bold;
    color: #333;
}
.table tr:nth-child(even) td {
    background-color: hsla(120, 51%, 75%, 0.3) !important;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f1f1f1 !important;
}
td:hover, th:hover{
    transform: scale(1.2);
    background-color: #8efd8e !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    font-size: clamp(20px, 2vw, 20px);
    font-family: 'Arial';
    font-weight: bolder;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
th {
    background-color: #27c033;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
tr:hover {
    background-color: #f1f1f1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px auto;
    min-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    background-color: #fff;
}
tr:nth-child(even) {
    background-color: hsla(120, 84%, 75%, 0.068) !important;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}